@import "src/variable.scss";

.detail-order-page {
  .detail-order-body {
    .detail-card-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: toRem(4) 0;
    }
  }
  .detail-order-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    .detail-order-item-link {
      padding: toRem(16);
      text-decoration: none;
      width: 100%;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(170, 170, 170, 0.6);
    }

    &:hover {
      box-shadow: inset toRem(2000) toRem(2000) rgba(0, 0, 0, 0.05);
    }

    .product-info {
      display: flex;
      flex: 1;

      .product-img {
        width: toRem(72);
        min-width: toRem(72);
        padding-top: toRem(72);
        margin: 0 toRem(16) 0 0;
        height: 100%;
        background-size: cover;
      }

      .product-description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .product-name {
          font-weight: 600;
          font-size: toRem(16);
          line-height: toRem(16);
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
        }

        .product-price {
          font-size: toRem(12);
        }

        .product-total-price {
          font-size: toRem(14);
          font-weight: 600;
          color: $primary-color;
        }
      }
    }
  }

  .header-item {
    display: flex;
    align-items: center;
    margin: toRem(4) toRem(6) 0 0;

    .title {
      margin-right: 3px;
      font-weight: 600;
    }
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total-value {
      font-weight: 600;
      color: $primary-color;
      margin-left: 2px;
    }
  }

  .detail-order-info {
    .row {
      flex-wrap: wrap-reverse;
    }

    .info-col {
      margin-top: toRem(20);
      padding: toRem(16) toRem(20);

      .info-header {
        font-size: toRem(18);
        font-weight: 600;
      }

      .shipping-info {
        .shipping-info-body {
          .info-item {
            list-style: inside;
            margin-top: 4px;

            .title {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
