@import "src/variable.scss";

.orders-page {
  overflow: auto;

  .orders-table {
    min-width: toRem(600);

    .order-row {
      display: flex;
      width: 100%;
      padding: toRem(16) toRem(8);

      .order-cell {
        font-size: toRem(14);
        text-align: center;
        padding: 0 toRem(6);
      }

      .order-index {
        flex: 1;
      }

      .order-id {
        width: 80px;
      }

      .order-status {
        width: 120px;
      }

      .order-time {
        width: 120px;
      }

      .order-address {
        flex: 1;
        text-align: left;

        -webkit-line-clamp: 1;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }

      .order-price {
        width: 100px;
      }

      &.orders-header {
        padding-bottom: 0;
        font-weight: 700;
        font-size: toRem(18);
        opacity: 0.7;
        user-select: none;
      }
    }
  }
}
