@import "src/variable.scss";

.product-page {
  .product-page-header {
    margin: toRem(40) auto toRem(10);
    .header-wrap {
      display: flex;
      align-items: center;
      padding: toRem(14) toRem(24);
      flex-wrap: wrap;

      .search-results-wrap {
        margin: toRem(8) 0;
        .title {
          font-size: toRem(18);
          font-weight: 600;
        }

        .value {
          opacity: 0.8;
        }
      }
    }
  }
}
